<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Images/favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>SketchDetect</title>
</head>
<body>
<div class="reveal-container">
<p id="send" style="display: none;">{{index}}</p>
<div class="content-container guess-container">
  <div class="content-col reveal">
      <p class="guess-title">Your Drawing:</p>
    <img src="{{ imagedata }}" class="canvas" id="user" width="300" height="300">
  </div>
  <div class="content-col reveal">
    <img src="{{ url_for('static', filename=image) }}" response={{ index }} class="canvas" id="response" width="300" height="300">
      <p class="outcome guess-title">My Guess Is .... <span class="send"><br>{{send.upper()}}</span></p>
  </div>
</div>
<div class="home-div">
    <a href="/" class="home">Guess Again</a>
</div>
<div class="disclaimer">
    <p class="disclaimer-text">*This model was trained using very simple 2 dimensional drawings. If your drawing is very detailed or 3 dimensional it will likely guess
        incorrectly. The model was trained on 6000 hand drawn images, and has about an 85% accuracy on simple 2 dimensional drawings.
    If the model guessed incorrectly please try again a few times.</p>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/guess.js')}}"></script>
</div>
</body>
</html>